// Fonts preferences
$base-font-size: 17px;

$text-base-color: #434648;
$text-link-blue: #003fff;

$black: #0d122b;
$smoke: #d2c7c7;
$white: #ffffff;

// Width of the content area
$wide-size: 890px;
$narrow-size: 720px;

$on-mobile: 768px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

html { height: 100%; }

body {
  font-family: monospace, sans-serif;
  color: $text-base-color;
  font-size: $base-font-size;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
}

h2, h3, h4, h5 { margin-top: 1.5em; }

hr { margin: 1rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

table { width: 100%; }

table, th, td {
  border: thin solid $black;
  padding: 0.4rem;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

a {
  color: inherit;
  text-decoration-color: $smoke;

  &:hover {
    color: $text-link-blue;
  }

  &:focus {
    outline: 3px solid rgba(0, 54, 199, 0.6);
    outline-offset: 2px;
  }
}

.wrapper {
  max-width: $wide-size;
  margin: 0 auto;
  padding: 4rem 2rem;

  @include media-query($on-mobile) {
    max-width: $narrow-size;
    padding: 1rem 1.5rem;
  }
}

.post-meta { text-align: right; }
