---
layout: default
---

{% include navbar.html %}

<section class="py-10 md:py-16">
  <div class="container max-w-screen-md mx-auto px-4">
      <div class="text-center">
          <div class="flex justify-center mb-8">
            <img src="{{ site.author.picture }}" alt="Image" class="w-32 md:w-48 rounded-full">
          </div>
          <h6 class="font-medium text-gray-600 text-lg md:text-2xl mb-4">
            {{ site.author.name }}
          </h6>
          <p class="font-normal text-gray-600 text-md text-center md:text-xl mb-16">
            {{ site.author.bio }}
          </p>
      </div>
  </div>
</section>
